*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image:  linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);;
    font-family: 'Franklin Gothic regular', 'Arial Narrow', Arial, sans-serif;
}
.container{
    max-width: 33vw;
    margin: 20px auto;
    border-radius: 1rem;
    border: 1px white solid;
    padding: 8px 10px;
    background-color: rgba(240, 240, 240,0.4);    
}

.task-item{
    display: flex;
    justify-content: space-between;
    transition: all 500ms ease-in-out;
}
.task-item li{
    flex: 1;
    margin: 4px 0;
}
.fa-trash-can,
.fa-check-square{
    color: white;
    width: 15px;   
}
.fa-trash-can:hover{
    color: rgb(251, 61, 51);
}
.fa-check-square:hover{
    color: rgb(0, 209, 0);
}
.task-item button{
    padding: 5px 3px;
    margin: 3px 0;
    border:none;
    border-radius: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.check-box{
    background-color: rgb(0, 209, 0);
}
.trash-can{
    background-color: rgb(251, 61, 51);
}
.check-box:hover,
.trash-can:hover{
    background-color: white;
}
.item{
    list-style: none;
    font-size: 0.6rem;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.task-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;

}
.task-form button{
    background-color: rgb(255, 142, 85);
    font-size: 0.9rem;
    border:none;
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
    transition: all 400ms ease-out;
}
.task-form button:hover{
    background-color: white;
    color: black;
}
#my-input{
    background-color: rgb(240, 240, 240);
    border: 0.5px solid grey;
    padding-left: 5px;
}
#my-input:focus-visible{
    outline: 0.5px solid black;
}
.remove{
   display: none !important;

}

.fall{
    transform-origin: left;
    transform:  rotate(20deg) translateY(8rem);
    opacity: 0;
}
.complete{
    text-decoration: line-through;
    opacity: 0.5;
}