*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 30vw;
    border-radius: 1rem;
    margin: 50px auto auto auto;
    border: 1px black solid;
    padding: 8px 10px;
    background-color: rgba(240, 240, 240,0.4);
    position: relative;
}
.task-item{
    list-style: none;
    font-size: 0.6rem;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    background-color: rgba(240, 240, 240,0.7);
    border-radius: 5px;
    cursor: pointer;
}

.task-form{
    position: absolute;
    transform: translate(222px, -37px);
}
.task-form button{
    background-color: rgb(255, 142, 85);
    font-size: 0.9rem;
    border:none;
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
}
.task-form button:hover{
    background-color: white;
    color: black;
    border: 0.4px solid rgb(255, 142, 85);
}
#my-input{
    background-color: rgb(240, 240, 240);
    border: 0.5px solid grey;
}
#my-input:focus-visible{
    outline: 0.5px solid black;
}
